@CHARSET "UTF-8";

body {
	margin: 20px 50px;
}

#content {
	margin: 20px 0;
	font-size: 16px;
	height: 300px;
	overflow: auto;
}

.subtitle {
	font-size: 18px;
	font-weight: bold;
	color: #25598a;
	margin-top: 10px;
}

#types button {
	background: #efefef;
}

#types > *,
#car > * {
	margin: 5px;
}

/*
.close {
  position: relative;
  display:block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
  background: black;
  opacity: 0.5;
}
*/

.close{
	background: black;z-index:200;    -moz-border-radius:20px;    -webkit-border-radius:20px;    line-height:10px;    text-align:center;    font-weight:bold;    cursor:pointer;    font-size:10px;	display: block;
}
.close:hover {
  cursor: pointer;
  opacity: 1;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 12px;
  margin-top: -6px;
  border-radius: 5px;
  background: #ffffff;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}

