@CHARSET "UTF-8";

body {
	margin: 20px 50px;
}

#content {
	margin: 20px 0;
	font-size: 16px;
	height: 300px;
	overflow: auto;
}

.subtitle {
	font-size: 18px;
	font-weight: bold;
	color: #25598a;
	margin-top: 10px;
}

#types button {
	background: #efefef;
}

#types > *,
#car > * {
	margin: 5px;
}

#execute {
	background: #337abd;
	border-color: #337abd;
}

#execute:hover {
	background: #2b659c;
}
